openapi: 3.2.0
info:
  title: Reddit Data Flair API
  description: The Reddit Data API provides programmatic access to Reddit content including subreddits, posts, comments, user profiles, and voting data. Developers can use the API to read and submit content, manage subreddits, search across the platform, and interact with Reddit communities. All requests require OAuth 2.0 authentication via oauth.reddit.com, with rate limits of 60 requests per minute for authenticated clients.
  version: '1.0'
  contact:
    name: Reddit Developer Support
    url: https://support.reddithelp.com/hc/en-us/articles/16160319875092-Reddit-Data-API-Wiki
  termsOfService: https://www.redditinc.com/policies/data-api-terms
servers:
- url: https://oauth.reddit.com
  description: OAuth API Server
security:
- oauth2: []
tags:
- name: Flair
  description: Endpoints for managing user and link flair within subreddits, including flair templates, assignments, and configuration.
paths:
  /r/{subreddit}/api/flair:
    post:
      operationId: setFlair
      summary: Set User Flair
      description: Sets the flair for a user in the specified subreddit. Requires the modflair OAuth scope (or flair scope for self-flair).
      tags:
      - Flair
      parameters:
      - $ref: '#/components/parameters/subreddit'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The username to set flair for.
                text:
                  type: string
                  description: The flair text.
                css_class:
                  type: string
                  description: The CSS class for the flair.
                api_type:
                  type: string
                  default: json
      responses:
        '200':
          description: Flair set successfully
  /r/{subreddit}/api/flairselector:
    post:
      operationId: getFlairSelector
      summary: Get Available Flair Options
      description: Returns available flair options for a user or link in the specified subreddit.
      tags:
      - Flair
      parameters:
      - $ref: '#/components/parameters/subreddit'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                link:
                  type: string
                  description: The fullname of a link to get flair options for.
                name:
                  type: string
                  description: The username to get flair options for.
      responses:
        '200':
          description: Available flair options
          content:
            application/json:
              schema:
                type: object
components:
  parameters:
    subreddit:
      name: subreddit
      in: path
      required: true
      description: The name of the subreddit.
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Reddit uses OAuth 2.0 for authentication. All API requests must include a valid access token obtained through one of the supported OAuth grant types.
      flows:
        authorizationCode:
          authorizationUrl: https://www.reddit.com/api/v1/authorize
          tokenUrl: https://www.reddit.com/api/v1/access_token
          scopes:
            identity: Access user identity
            edit: Edit and delete content
            flair: Set user and link flair
            history: Access voting history
            modconfig: Manage subreddit configuration
            modflair: Manage subreddit flair
            modlog: Access moderation log
            modposts: Approve and remove content
            modwiki: Manage wiki pages
            mysubreddits: Access subscribed subreddits
            privatemessages: Access private messages
            read: Read content
            report: Report content
            save: Save and unsave content
            submit: Submit content
            subscribe: Manage subscriptions
            vote: Vote on content
            wikiedit: Edit wiki pages
            wikiread: Read wiki pages
externalDocs:
  description: Reddit API Documentation
  url: https://www.reddit.com/dev/api
