openapi: 3.2.0
info:
  title: Reddit Data Wiki API
  description: The Reddit Data API provides programmatic access to Reddit content including subreddits, posts, comments, user profiles, and voting data. Developers can use the API to read and submit content, manage subreddits, search across the platform, and interact with Reddit communities. All requests require OAuth 2.0 authentication via oauth.reddit.com, with rate limits of 60 requests per minute for authenticated clients.
  version: '1.0'
  contact:
    name: Reddit Developer Support
    url: https://support.reddithelp.com/hc/en-us/articles/16160319875092-Reddit-Data-API-Wiki
  termsOfService: https://www.redditinc.com/policies/data-api-terms
servers:
- url: https://oauth.reddit.com
  description: OAuth API Server
security:
- oauth2: []
tags:
- name: Wiki
  description: Endpoints for managing subreddit wikis, including reading and editing wiki pages, revision history, and permissions.
paths:
  /r/{subreddit}/wiki/{page}:
    get:
      operationId: getWikiPage
      summary: Get a Wiki Page
      description: Returns the content of a wiki page in the specified subreddit. Requires the wikiread OAuth scope.
      tags:
      - Wiki
      parameters:
      - $ref: '#/components/parameters/subreddit'
      - name: page
        in: path
        required: true
        description: The name of the wiki page.
        schema:
          type: string
      responses:
        '200':
          description: Wiki page content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WikiPage'
        '404':
          description: Wiki page not found
  /r/{subreddit}/wiki/pages:
    get:
      operationId: getWikiPages
      summary: List Wiki Pages
      description: Returns a listing of all wiki pages in the specified subreddit. Requires the wikiread OAuth scope.
      tags:
      - Wiki
      parameters:
      - $ref: '#/components/parameters/subreddit'
      responses:
        '200':
          description: List of wiki pages
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                  data:
                    type: array
                    items:
                      type: string
  /r/{subreddit}/api/wiki/edit:
    post:
      operationId: editWikiPage
      summary: Edit a Wiki Page
      description: Edits the content of a wiki page in the specified subreddit. Requires the wikiedit OAuth scope.
      tags:
      - Wiki
      parameters:
      - $ref: '#/components/parameters/subreddit'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - page
              - content
              properties:
                page:
                  type: string
                  description: The name of the wiki page to edit.
                content:
                  type: string
                  description: The new content for the wiki page (markdown).
                reason:
                  type: string
                  description: The edit reason (max 256 characters).
                  maxLength: 256
                previous:
                  type: string
                  description: The revision ID that this edit is based on.
      responses:
        '200':
          description: Wiki page edited successfully
  /r/{subreddit}/wiki/revisions/{page}:
    get:
      operationId: getWikiPageRevisions
      summary: Get Wiki Page Revision History
      description: Returns the revision history for a wiki page. Requires the wikiread OAuth scope.
      tags:
      - Wiki
      parameters:
      - $ref: '#/components/parameters/subreddit'
      - name: page
        in: path
        required: true
        description: The name of the wiki page.
        schema:
          type: string
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/count'
      responses:
        '200':
          description: Revision history listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
components:
  parameters:
    count:
      name: count
      in: query
      description: A positive integer indicating the number of items already seen in this listing, used for pagination numbering.
      schema:
        type: integer
        minimum: 0
    before:
      name: before
      in: query
      description: The fullname of a thing used as an anchor for pagination. Returns results before this item.
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: The maximum number of items to return (default 25, max 100).
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
    after:
      name: after
      in: query
      description: The fullname of a thing used as an anchor for pagination. Returns results after this item.
      schema:
        type: string
    subreddit:
      name: subreddit
      in: path
      required: true
      description: The name of the subreddit.
      schema:
        type: string
  schemas:
    WikiPage:
      type: object
      description: Represents a wiki page in a subreddit.
      properties:
        kind:
          type: string
          description: The kind identifier.
        data:
          type: object
          properties:
            content_md:
              type: string
              description: The wiki page content in markdown format.
            content_html:
              type: string
              description: The wiki page content rendered as HTML.
            revision_by:
              type: object
              description: The user who made the last revision.
            revision_date:
              type: number
              format: double
              description: The Unix timestamp of the last revision.
            may_revise:
              type: boolean
              description: Whether the current user can edit this wiki page.
    Listing:
      type: object
      description: A Reddit listing is a paginated collection of things. Listings contain a data object with children and pagination information.
      properties:
        kind:
          type: string
          description: The kind identifier, always "Listing".
          enum:
          - Listing
        data:
          type: object
          properties:
            after:
              type: string
              nullable: true
              description: The fullname of the next item for forward pagination.
            before:
              type: string
              nullable: true
              description: The fullname of the previous item for backward pagination.
            dist:
              type: integer
              description: The number of items in this listing.
            modhash:
              type: string
              description: A modhash for CSRF protection.
            children:
              type: array
              description: The list of things in this listing.
              items:
                $ref: '#/components/schemas/Thing'
    Thing:
      type: object
      description: A Reddit thing is the base object type. All Reddit objects (comments, links, subreddits, etc.) are things with a kind and data payload.
      properties:
        kind:
          type: string
          description: The kind identifier (t1 for comment, t2 for account, t3 for link, t4 for message, t5 for subreddit, t6 for award).
          enum:
          - t1
          - t2
          - t3
          - t4
          - t5
          - t6
        data:
          type: object
          description: The thing's data payload, varying by kind.
  securitySchemes:
    oauth2:
      type: oauth2
      description: Reddit uses OAuth 2.0 for authentication. All API requests must include a valid access token obtained through one of the supported OAuth grant types.
      flows:
        authorizationCode:
          authorizationUrl: https://www.reddit.com/api/v1/authorize
          tokenUrl: https://www.reddit.com/api/v1/access_token
          scopes:
            identity: Access user identity
            edit: Edit and delete content
            flair: Set user and link flair
            history: Access voting history
            modconfig: Manage subreddit configuration
            modflair: Manage subreddit flair
            modlog: Access moderation log
            modposts: Approve and remove content
            modwiki: Manage wiki pages
            mysubreddits: Access subscribed subreddits
            privatemessages: Access private messages
            read: Read content
            report: Report content
            save: Save and unsave content
            submit: Submit content
            subscribe: Manage subscriptions
            vote: Vote on content
            wikiedit: Edit wiki pages
            wikiread: Read wiki pages
externalDocs:
  description: Reddit API Documentation
  url: https://www.reddit.com/dev/api
