openapi: 3.2.0
info:
  title: Reddit Data Moderation API
  description: The Reddit Data API provides programmatic access to Reddit content including subreddits, posts, comments, user profiles, and voting data. Developers can use the API to read and submit content, manage subreddits, search across the platform, and interact with Reddit communities. All requests require OAuth 2.0 authentication via oauth.reddit.com, with rate limits of 60 requests per minute for authenticated clients.
  version: '1.0'
  contact:
    name: Reddit Developer Support
    url: https://support.reddithelp.com/hc/en-us/articles/16160319875092-Reddit-Data-API-Wiki
  termsOfService: https://www.redditinc.com/policies/data-api-terms
servers:
- url: https://oauth.reddit.com
  description: OAuth API Server
security:
- oauth2: []
tags:
- name: Moderation
  description: Endpoints for subreddit moderation tasks, including approving and removing content, managing bans, moderation logs, and modqueue.
paths:
  /r/{subreddit}/about/moderators:
    get:
      operationId: getSubredditModerators
      summary: Get Subreddit Moderators
      description: Returns a listing of the moderators of the specified subreddit.
      tags:
      - Moderation
      parameters:
      - $ref: '#/components/parameters/subreddit'
      responses:
        '200':
          description: Moderator listing
          content:
            application/json:
              schema:
                type: object
  /r/{subreddit}/about/modqueue:
    get:
      operationId: getModqueue
      summary: Get Moderation Queue
      description: Returns a listing of items in the subreddit's moderation queue. Items include submissions and comments that have been reported or caught by spam filters. Requires the modposts OAuth scope.
      tags:
      - Moderation
      parameters:
      - $ref: '#/components/parameters/subreddit'
      - name: type
        in: query
        description: Filter by type of content in the queue.
        schema:
          type: string
          enum:
          - links
          - comments
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/count'
      responses:
        '200':
          description: Moderation queue listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
  /r/{subreddit}/about/reports:
    get:
      operationId: getReports
      summary: Get Reported Items
      description: Returns a listing of reported items in the subreddit. Requires the modposts OAuth scope.
      tags:
      - Moderation
      parameters:
      - $ref: '#/components/parameters/subreddit'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/count'
      responses:
        '200':
          description: Listing of reported items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
  /r/{subreddit}/about/spam:
    get:
      operationId: getSpam
      summary: Get Spam Items
      description: Returns a listing of items marked as spam in the subreddit. Requires the modposts OAuth scope.
      tags:
      - Moderation
      parameters:
      - $ref: '#/components/parameters/subreddit'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/count'
      responses:
        '200':
          description: Listing of spam items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
  /r/{subreddit}/about/log:
    get:
      operationId: getModLog
      summary: Get Moderation Log
      description: Returns a listing of moderation actions taken in the subreddit. Requires the modlog OAuth scope.
      tags:
      - Moderation
      parameters:
      - $ref: '#/components/parameters/subreddit'
      - name: mod
        in: query
        description: Filter by moderator username.
        schema:
          type: string
      - name: type
        in: query
        description: Filter by moderation action type.
        schema:
          type: string
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/count'
      responses:
        '200':
          description: Moderation log listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
  /api/approve:
    post:
      operationId: approve
      summary: Approve a Submission or Comment
      description: Approves a submission or comment that was removed or reported. Requires the modposts OAuth scope.
      tags:
      - Moderation
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  description: The fullname of the thing to approve.
      responses:
        '200':
          description: Item approved
  /api/remove:
    post:
      operationId: remove
      summary: Remove a Submission or Comment
      description: Removes a submission or comment from public listings. Requires the modposts OAuth scope.
      tags:
      - Moderation
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - id
              - spam
              properties:
                id:
                  type: string
                  description: The fullname of the thing to remove.
                spam:
                  type: boolean
                  description: Whether to mark the item as spam.
      responses:
        '200':
          description: Item removed
  /r/{subreddit}/about/banned:
    get:
      operationId: getBannedUsers
      summary: Get Banned Users
      description: Returns a listing of users banned from the specified subreddit. Requires the modcontributors OAuth scope.
      tags:
      - Moderation
      parameters:
      - $ref: '#/components/parameters/subreddit'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/count'
      responses:
        '200':
          description: Listing of banned users
          content:
            application/json:
              schema:
                type: object
components:
  parameters:
    count:
      name: count
      in: query
      description: A positive integer indicating the number of items already seen in this listing, used for pagination numbering.
      schema:
        type: integer
        minimum: 0
    before:
      name: before
      in: query
      description: The fullname of a thing used as an anchor for pagination. Returns results before this item.
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: The maximum number of items to return (default 25, max 100).
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
    after:
      name: after
      in: query
      description: The fullname of a thing used as an anchor for pagination. Returns results after this item.
      schema:
        type: string
    subreddit:
      name: subreddit
      in: path
      required: true
      description: The name of the subreddit.
      schema:
        type: string
  schemas:
    Listing:
      type: object
      description: A Reddit listing is a paginated collection of things. Listings contain a data object with children and pagination information.
      properties:
        kind:
          type: string
          description: The kind identifier, always "Listing".
          enum:
          - Listing
        data:
          type: object
          properties:
            after:
              type: string
              nullable: true
              description: The fullname of the next item for forward pagination.
            before:
              type: string
              nullable: true
              description: The fullname of the previous item for backward pagination.
            dist:
              type: integer
              description: The number of items in this listing.
            modhash:
              type: string
              description: A modhash for CSRF protection.
            children:
              type: array
              description: The list of things in this listing.
              items:
                $ref: '#/components/schemas/Thing'
    Thing:
      type: object
      description: A Reddit thing is the base object type. All Reddit objects (comments, links, subreddits, etc.) are things with a kind and data payload.
      properties:
        kind:
          type: string
          description: The kind identifier (t1 for comment, t2 for account, t3 for link, t4 for message, t5 for subreddit, t6 for award).
          enum:
          - t1
          - t2
          - t3
          - t4
          - t5
          - t6
        data:
          type: object
          description: The thing's data payload, varying by kind.
  securitySchemes:
    oauth2:
      type: oauth2
      description: Reddit uses OAuth 2.0 for authentication. All API requests must include a valid access token obtained through one of the supported OAuth grant types.
      flows:
        authorizationCode:
          authorizationUrl: https://www.reddit.com/api/v1/authorize
          tokenUrl: https://www.reddit.com/api/v1/access_token
          scopes:
            identity: Access user identity
            edit: Edit and delete content
            flair: Set user and link flair
            history: Access voting history
            modconfig: Manage subreddit configuration
            modflair: Manage subreddit flair
            modlog: Access moderation log
            modposts: Approve and remove content
            modwiki: Manage wiki pages
            mysubreddits: Access subscribed subreddits
            privatemessages: Access private messages
            read: Read content
            report: Report content
            save: Save and unsave content
            submit: Submit content
            subscribe: Manage subscriptions
            vote: Vote on content
            wikiedit: Edit wiki pages
            wikiread: Read wiki pages
externalDocs:
  description: Reddit API Documentation
  url: https://www.reddit.com/dev/api
