openapi: 3.2.0
info:
  title: Reddit Data Account API
  description: The Reddit Data API provides programmatic access to Reddit content including subreddits, posts, comments, user profiles, and voting data. Developers can use the API to read and submit content, manage subreddits, search across the platform, and interact with Reddit communities. All requests require OAuth 2.0 authentication via oauth.reddit.com, with rate limits of 60 requests per minute for authenticated clients.
  version: '1.0'
  contact:
    name: Reddit Developer Support
    url: https://support.reddithelp.com/hc/en-us/articles/16160319875092-Reddit-Data-API-Wiki
  termsOfService: https://www.redditinc.com/policies/data-api-terms
servers:
- url: https://oauth.reddit.com
  description: OAuth API Server
security:
- oauth2: []
tags:
- name: Account
  description: Endpoints related to the authenticated user account, including identity, preferences, karma, trophies, and friend management.
paths:
  /api/v1/me:
    get:
      operationId: getMe
      summary: Get Current User Identity
      description: Returns the identity of the currently authenticated user, including username, karma, account age, and preferences.
      tags:
      - Account
      responses:
        '200':
          description: Successful response with user identity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          description: Authentication required
  /api/v1/me/prefs:
    get:
      operationId: getMyPrefs
      summary: Get User Preferences
      description: Returns the preference settings of the currently authenticated user.
      tags:
      - Account
      responses:
        '200':
          description: Successful response with user preferences
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required
    patch:
      operationId: updateMyPrefs
      summary: Update User Preferences
      description: Updates the preference settings of the currently authenticated user.
      tags:
      - Account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Preferences updated successfully
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required
  /api/v1/me/karma:
    get:
      operationId: getMyKarma
      summary: Get Karma Breakdown by Subreddit
      description: Returns a breakdown of the current user's karma by subreddit, including link karma and comment karma for each subreddit.
      tags:
      - Account
      responses:
        '200':
          description: Successful response with karma breakdown
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/KarmaBreakdown'
        '401':
          description: Authentication required
  /api/v1/me/trophies:
    get:
      operationId: getMyTrophies
      summary: Get Current User Trophies
      description: Returns a list of trophies for the currently authenticated user.
      tags:
      - Account
      responses:
        '200':
          description: Successful response with trophies
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required
  /api/v1/me/friends:
    get:
      operationId: getMyFriends
      summary: Get Friends List
      description: Returns a list of the current user's friends.
      tags:
      - Account
      responses:
        '200':
          description: Successful response with friends list
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required
  /api/v1/me/blocked:
    get:
      operationId: getMyBlocked
      summary: Get Blocked Users List
      description: Returns a list of users blocked by the currently authenticated user.
      tags:
      - Account
      responses:
        '200':
          description: Successful response with blocked users
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required
  /api/v1/scopes:
    get:
      operationId: getScopes
      summary: Get Available Oauth Scopes
      description: Returns a listing of all available OAuth scopes and their descriptions.
      tags:
      - Account
      responses:
        '200':
          description: Available OAuth scopes
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    description:
                      type: string
                    id:
                      type: string
                    name:
                      type: string
components:
  schemas:
    Account:
      type: object
      description: Represents a Reddit user account with profile and karma information.
      properties:
        id:
          type: string
          description: The account's unique ID36.
        name:
          type: string
          description: The account's username.
        created_utc:
          type: number
          format: double
          description: The Unix timestamp of when the account was created.
        link_karma:
          type: integer
          description: Total link karma earned.
        comment_karma:
          type: integer
          description: Total comment karma earned.
        is_gold:
          type: boolean
          description: Whether the user has Reddit Premium.
        is_mod:
          type: boolean
          description: Whether the user is a moderator of any subreddit.
        has_verified_email:
          type: boolean
          description: Whether the user has a verified email address.
        icon_img:
          type: string
          format: uri
          description: URL of the user's avatar image.
        subreddit:
          type: object
          description: The user's profile subreddit information.
        over_18:
          type: boolean
          description: Whether the user has opted into viewing NSFW content.
    KarmaBreakdown:
      type: object
      description: Karma breakdown for a single subreddit.
      properties:
        sr:
          type: string
          description: The subreddit name.
        comment_karma:
          type: integer
          description: Comment karma earned in this subreddit.
        link_karma:
          type: integer
          description: Link karma earned in this subreddit.
  securitySchemes:
    oauth2:
      type: oauth2
      description: Reddit uses OAuth 2.0 for authentication. All API requests must include a valid access token obtained through one of the supported OAuth grant types.
      flows:
        authorizationCode:
          authorizationUrl: https://www.reddit.com/api/v1/authorize
          tokenUrl: https://www.reddit.com/api/v1/access_token
          scopes:
            identity: Access user identity
            edit: Edit and delete content
            flair: Set user and link flair
            history: Access voting history
            modconfig: Manage subreddit configuration
            modflair: Manage subreddit flair
            modlog: Access moderation log
            modposts: Approve and remove content
            modwiki: Manage wiki pages
            mysubreddits: Access subscribed subreddits
            privatemessages: Access private messages
            read: Read content
            report: Report content
            save: Save and unsave content
            submit: Submit content
            subscribe: Manage subscriptions
            vote: Vote on content
            wikiedit: Edit wiki pages
            wikiread: Read wiki pages
externalDocs:
  description: Reddit API Documentation
  url: https://www.reddit.com/dev/api
